.modal_for_ticket {
    z-index: 1060;
  }
  
  .modal_for_ticket,
  .modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .modal_backdrop {
    background-color: rgb(0 0 0 / 82%);
  }

  .modal_body {
    background-color: black;
    z-index: 2;
  }